{% extends "layout.html" %}
{% block content %}
	<nav class="navbar navbar-light bg-light">
		<form class="form-inline", method="POST", action="/songs/search">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search", name="text">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<form action="{{ url_for('upload_song') }}" method="GET">
			<input class="btn btn-primary" type="submit" value="Upload Song">
		</form>
	</nav>
	{% for song in songs.items %}
		<div class="card">
			<h5 class="card-header">Song: {{ song.title }}</h5>
			<div class="card-body">
				<h5 class="card-title">Album: {{ song.album }}</h5>
				<p class="card-text">By {{ song.artist }} on {{ song.created_at }}</p>
				<audio controls>
					<source src="{{ url_for('static', filename='mp3_files/' + song.song) }}", type="audio/mpeg">
				</audio>
			</div>
			<form action="{{ url_for('get_song', song_id=song.id) }}" method="GET">
				<input class="btn btn-primary" type="submit" value="GO">
			</form>
		</div>
	{% endfor %}
	{% for page_num in songs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if songs.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('list_songs', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('list_songs', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock %}