{% extends "layout.html" %}
{% block content %}
	<div class="card">
		<h5 class="card-header">Song: {{ song.title }}</h5>
		<div class="card-body">
			<h5 class="card-title">Album: {{ song.album }}</h5>
			<p class="card-text">By {{ song.artist }} on {{ song.created_at }}</p>
			<audio controls>
				<source src="{{ url_for('static', filename='mp3_files/' + song.song) }}", type="audio/mpeg">
			</audio>
			<form action="{{ url_for('delete_song', song_id=song.id) }}" method="POST">
				<input class="btn btn-danger" type="submit" value="Delete">
			</form>
	  </div>
	</div>
{% endblock content %}