{% extends "layout.html" %}
{% block content %}
	<form method="POST", action="", enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend class="border-bottom mb-4">Upload song to your collection</legend>
			<div class="form-group">
				{{ form.title.label(for="exampleInputEmail1") }}
				{% if form.title.errors %}
					{{ form.title(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.title.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.title(class="form-control", placeholder="Enter Song Title") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.artist.label(class="form-control-label", placeholder="Enter Song Artist") }}
				{% if form.artist.errors %}
					{{ form.artist(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.artist.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.artist(class="form-control", placeholder="Enter Song Artist") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.album.label(class="form-control-label", placeholder="Enter Song Album") }}
				{% if form.album.errors %}
					{{ form.album(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.album.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.album(class="form-control", placeholder="Enter Song Album") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.song.label() }}
				{{ form.song(class="form-control-file") }}
				{% if form.song.errors %}
					{% for error in form.song.errors %}
						<span class="text-danger">{{ error }}</span></br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-primary") }}
			</div>	
		</fieldset>
	</form>
{% endblock %}